@font-face {
  font-family: 'American Typewriter';
  src: url('../fonts/AmericanTypewriter.eot');
  src: url('../fonts/AmericanTypewriter.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AmericanTypewriter.woff') format('woff'),
  url('../fonts/AmericanTypewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body { font-family: "American Typewriter"; font-weight: normal }
h2 {
  margin: 30px auto;
  color: #fff;
  font-size: 42px;
  .title-text {
    position: relative;
    @media(max-width:670px) {
      font-size: 21px;
    }
  }
}
.title-icon {
  width: 40px;
  height: 55px;
  display: inline-block;
}

@mixin clear-float {
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

@mixin animate-fast {
  transition: 0.3s linear all;
}

@mixin animate-slow {
  transition: 1s ease-out all;
}

@mixin animate-custom($args...) {
  transition: $args;
}

@mixin icon($url) {
  @include animate-fast;
  display: block;
  position: absolute;
  top: 130px;
  z-index: 3;
  width:75px;
  height: 76px;
  background: url($url) no-repeat;
  background-size: contain;
  border-radius: 50%;
  @media(max-width:990px) {
    width:45px;
    height: 45px;
    position: static;
    float: left;
    margin-right: 20px;
  }
  &:hover {
    filter: saturate(2);
    box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  }
}

@mixin rounded-bottom {
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

@mixin rounded-top {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

@mixin hover($color) {
  &:hover {
    color : darken($color, 10%);
  }
}

@mixin container-inner($bk) {
  width: 90%;
  margin: auto;
  background: $bk;
  padding: 10px 100px 70px;
  position: relative;
  top: -20px;
  z-index: 1;
  @media(max-width: 990px) {
    width: 100%;
    padding: 20px 30px 60px;
    border-radius: 0%;
  }
}
@mixin no-select {
  user-select: none;
}