@font-face {
  font-family: 'American Typewriter';
  src: url('../fonts/AmericanTypewriter.eot');
  src: url('../fonts/AmericanTypewriter.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AmericanTypewriter.woff') format('woff'),
  url('../fonts/AmericanTypewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin clear-float {
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

@mixin animate-fast {
  transition: 0.3s linear all;
}

@mixin animate-slow {
  transition: 1s ease-out all;
}

@mixin animate-custom($args...) {
  transition: $args;
}

@mixin icon($url) {
  @include animate-fast;
  display: block;
  position: absolute;
  top: 130px;
  z-index: 3;
  width:75px;
  height: 76px;
  background: url($url) no-repeat;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
  @media(max-width:990px) {
    width:45px;
    height: 45px;
    position: static;
    float: left;
    margin-right: 20px;
  }
  &:hover {
    filter: saturate(2);
    box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  }
}

@mixin rounded-bottom {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

@mixin rounded-top {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

@mixin hover($color) {
  &:hover {
    color : darken($color, 10%);
  }
}

@mixin container-inner($bk) {
  width: 90%;
  margin: auto;
  background: $bk;
  padding: 10px 100px 70px;
  position: relative;
  top: -20px;
  z-index: 1;
  overflow: hidden;
  @media(max-width: 990px) {
    width: 100%;
    padding: 20px 30px 60px;
    border-radius: 0%;
  }
}
@mixin no-select {
  user-select: none;
}

@mixin overlay($pos) {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  position: $pos;
  z-index: 5;
  opacity: 0;
  @include animate-custom(0.5s ease-in opacity)
}

@mixin helper {
  padding: 10px;
  background: #fff;
  position: absolute;
  z-index: 10;
  color: #999;
  font-size: 14px;
  line-height: 16px;
  opacity: 0;
  border-radius: 5%;
  @include animate-custom(opacity 1s ease);
  .arrow-left {
    position: absolute;
    bottom: 10px;
    left: -13px;
    width: 0;
    height: 0;
    border-top: 15px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid #fff;
  }
  .arrow-down {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 15px solid #fff;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
  }
}

body { font-family: "American Typewriter"; font-weight: normal }
h2 {
  margin: 30px auto;
  color: #fff;
  font-size: 42px;
  .title-icon {
    width: 40px;
    height: 55px;
    display: inline-block;
  }
  .title-text {
    position: relative;
    @media(max-width:670px) {
      font-size: 21px;
    }
  }
}
.mobile-nav-open {
  position: static !important;
  margin-top: -15px;
  margin-bottom: 8px;
  @media(max-width: 768px) {
    margin-bottom: 25px;
  }
}
.tel-controls-open {
  z-index: 10;
  width: 42%;
  @media(max-width: 390px) {
    width: 55%;
  }
}

.screen-overlay-fixed {
   @include overlay(fixed)
}

.screen-overlay-absolute {
  @include overlay(absolute)
}