@import "../global/global";
@import "../global/variables";

.header {
  padding: 0 5px 5px;
  .header-background {
    * {
      @include animate-fast;
    }
    background: url(../../images/header-background.png) center top no-repeat;
    color: #fff;
    text-align: center;
    background-size: 100% 100%;
    position: relative;
    z-index: 2;
    @include clear-float;
    @include animate-slow;
    @media(max-width:990px) {
      background-size: cover;
      background-position: 3% 10%;
    }
    @media(max-width:768px) {
      background-position: 40%;
    }
    h1 {
      font-size: 60px;
      padding-top: 34px;
      margin: 0 28% auto auto;
      .subtitle {
        display: block;
        font-size: 20px;
        text-align: right;
        margin-right: 22%;
        @media(max-width:510px){
          margin-right: 10%;
          margin-bottom: 5%;
        }
      }
      @media(max-width: 990px) {
        margin: 0 0% auto auto;
      }
      @media(max-width: 670px) {
        font-size: 50px;
        padding-top: 10px;
      }
    }
    .header-telephone-numbers {
      text-align: left;
      padding: 2% 0 2% 7%;
      line-height: 8px;
      @include animate-fast;
      a {
        color: #fff;
        @include hover(#fff)
      }
      .phone-helper {
        width: 145px;
        height: 70px;
        padding: 10px;
        background: #fff;
        position: absolute;
        z-index: 10;
        left: 280px;
        color: #999;
        font-size: 14px;
        line-height: 16px;
        opacity: 0;
        border-radius: 5%;
        .arrow-left {
          position: absolute;
          bottom: 10px;
          left: -13px;
          width: 0;
          height: 0;
          border-top: 15px solid rgba(0, 0, 0, 0);
          border-bottom: 15px solid rgba(0, 0, 0, 0);
          border-right: 15px solid #fff;
        }
        @media(max-width: 1200px) {
          left: 250px;
        }
        @media(max-width: 990px) {
          left: 265px;
        }
        @media(max-width:768px) {
          left: 305px;
        }
        @media(max-width:670px) {
          left: 210px;
        }
        @media(max-width: 410px) {
          left: 175px;
        }
        @media(max-width: 365px) {
          width: 116px;
          height: 87px;
        }
      }
      .main-number {
        font-size: 25px;
        line-height: 25px;
        @media(max-width: 670px) {
          font-size: 18px;
        }
      }
      .additional-number {
        padding-top: 5px;
        margin-bottom: 10px;
      }
      @media(max-width:1200px) {
        padding: 2% 0 2% 5%;
      }
      @media(max-width:990px) {
        padding: 2% 0 2% 8%;
      }
      @media(max-width:768px) {
        padding: 2% 0 2% 13%;
      }
      @media(max-width: 670px) {
        padding: 2% 0 2% 9%;
      }
      @media(max-width: 510px) {
        padding: 2% 0 2% 6%;
      }
    }
    .header-icon-holder {

      @include animate-custom(10ms all linear);

      .icon-phone {
        @include icon("../../images/icon-phone.png");
        left: 13%;
        @media(max-width:1200px){
          left:10%;
        }
      }
      .icon-twitter {
        @include icon("../../images/icon-twitter.png");
        right: 22%;
      }
      .icon-facebook {
        @include icon("../../images/icon-facebook.png");
        right: 13%;
      }

      @media(min-width: 990px) {
        opacity: 1;
      }

      @media(max-width: 990px) {
        opacity: 0;
      }

    }
  }
}

.header-tagline {
  background-color: $cream;
  text-align: center;
  color: #999;
  font-size: 20px;
  position: relative;
  padding: 20px 10px 10px;
  z-index: 1;
  top: -10px;
}
