@import "../global/variables";
@import "../global/global";

.about-us {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  position: relative;
  top:0;
  .inner {
    @include container-inner($red);
    @include rounded-bottom;

    strong {
      font-size: 18px;
      position: relative;
      top: 10px;
    }
  }
  @media(max-width:768px) {
    padding: 5px;
    top: -20px;
  }
}