@import "../global/variables";
@import "../global/global";

.about-us {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  position: relative;
  top:0;
  @include animate-fast;
  .inner {
    @include container-inner($red);
    @include rounded-bottom;

    strong {
      font-size: 20px;
      position: relative;
      top: 10px;
      font-weight: normal;
    }
  }
  .title-icon {
    background: url("../../images/icon-gloves.png") no-repeat;
    background-size: contain;
  }
  .title-text {
    top: -10px;
  }
  @media(max-width:768px) {
    padding: 5px;
    top: -20px;
  }
}

.make-it-shine {
   position: relative;
   top:25px;
   .inner {
     @include container-inner($turquoise);
     @include rounded-top;
     border-bottom: 2px solid #fff;
   }
  .title-icon {
    background: url("../../images/icon-spray-bottle.png") no-repeat;
    background-size: contain;
  }
  .title-text {
    top: -13px;
  }
  .img-centred {
    @media(max-width: 510px) {
      display: block;
      width: 90%;
      margin: 0 auto 20px;
    }
  }
  .make-it-shine-mobile-img {
    display: none;
    @media(max-width: 510px) {
      display: block;
    }
  }
  @media(max-width:768px) {
    padding: 5px;
    top: -30px;
  }
 }

.not-afraid {
  position: relative;
  top:0;
  .inner {
    @include container-inner(brown url("../../images/spring-clean-not-afraid-of-dirt-background.png") no-repeat);
    @include rounded-bottom;
    background-size: cover;
  }
  .title-icon {
    background: url("../../images/icon-splat.png") no-repeat;
    background-size: contain;
  }
  .title-text {
    top: -20px;
  }
  .img-centred {
    @media(max-width: 510px) {
      display: block;
      width: 90%;
      margin: 0 auto 20px;
    }
  }
  .not-afraid-mobile-img {
    display: none;
    @media(max-width: 510px) {
      display: block;
    }
  }
  @media(max-width:768px) {
    padding: 5px;
    top: -45px;
  }
}